{% extends 'restaurants/base.html' %}

{% load bootstrap_icons %}

{% block content %}
    <main class="flex-grow-1 flex-shrink-0">
        <div class="container-fluid mt-2 pb-2">
            <div class="row row-cols-md-2 row-cols-1 g-4 ms-auto me-auto">
                <div class="col">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <h3 class="display-6">Личные данные</h3>
                        </div>

                        {% if UserEditForm.errors %}
                            <div class="alert alert-danger d-flex justify-content-center" role="alert">
                                {% for field in UserEditForm %}
                                    {% for error in field.errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                {% endfor %}

                                {% for error in UserEditForm.non_field_errors %}
                                    {{ error }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="form-group mb-3">
                            {{ UserEditForm.first_name }}
                        </div>
                        <div class="form-group mb-3">
                            {{ UserEditForm.username }}
                        </div>
                        <div class="form-group mb-3">
                            {{ UserEditForm.password }}
                        </div>
                        <div class="form-group mb-3">
                            {{ UserEditForm.confirm_password }}
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-outline-success" type="submit">Сохранить</button>
                            <a class="btn btn-outline-danger" href="{% url 'logout' %}">Выйти из аккаунта</a>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <h3 class="display-6">Брони</h3>
                    </div>
                    {% for place in user_places %}
                        <div class="card mb-3">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <a href="{% url 'restaurant' place.restaurant.id %}"
                                       class="text-dark font-monospace">Ресторан
                                        «{{ place.restaurant }}»</a>
                                    <span class="font-monospace">Стол №{{ place.local_number }}</span>
                                    <span class="font-monospace">Время: {{ place.booked_on }}</span>
                                </div>
                                <div>
                                    <a href="{% url 'setBookedFree' place.pk %}">{% bs_icon 'trash' color='black' %}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if not user_places %}
                        <div class="d-flex justify-content-center">
                            <span class="lead">Не найдено забронированных столиков.</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}