{% extends 'restaurants/base.html' %}
{% load static %}

{% block content %}
<main class="flex-grow-1 flex-shrink-0">
    <div class="container-fluid d-flex justify-content-center h-100">
        <form class="custom-form d-flex flex-column justify-content-center" method="post"
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex justify-content-center mb-3">
                <h1>Регистрация</h1>
            </div>

            {#Error handling#}
            {% if form.errors %}
                <div class="alert alert-danger d-flex justify-content-center" role="alert">
                    {% for field in form %}
                        {% for error in field.errors %}
                            {{ error }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            {# End error handling #}

            <div class="form-floating mb-3">
                {{ form.first_name }}
                <label for="{{ form.first_name.id_for_label }}">Имя</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">Почта</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.password1 }}
                <label for="{{ form.password1.id_for_label }}">Пароль</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.password2 }}
                <label for="{{ form.password2.id_for_label }}">Повтор пароля</label>
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-dark w-100" type="submit">Зарегистрироваться</button>
            </div>
            <div class="d-flex justify-content-center">
                <h6>Уже есть аккаунт?
                    <a class="text-decoration-none" href="{% url 'login' %}">Войти</a>
                </h6>
            </div>
        </form>
    </div>
</main>
{% endblock %}
